/* 
font-family: 'Roboto', sans-serif;

font-family: 'Hind Madurai', sans-serif;

font-family: 'Fredoka One', cursive;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

main,
section,
div,
input,
article {
    margin: 0;
    padding: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1600px;
}


/* HEADER */

header {
    max-width: 1600px;
    width: 100%;
    height: 862px;
    /* background: #F2CEDA; */
    /* opacity: 0.3; */
    background-color: rgba(242, 206, 218, 0.3);
    background-image: url("/img/bg-image.png");
    background-repeat: no-repeat;
    background-size: 894.68px 742.36px;
    background-position-x: 690px;
    background-position-y: 126px;
}


/* NAVIGATION PART */

.nav__bar {
    width: 1125px;
    height: 79px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__menu ul {
    align-items: center;
    display: flex;
    margin-left: 266px;
    margin-right: 172px;
    column-gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
    height: 79px;
    /* max-width: 438.45px; */
}

.nav__menu ul li:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* font-size: 15px; */
    line-height: 18px;
    color: #D23166;
}

.main__logo {
    height: 79px;
    width: 79px;
}

.nav__button {
    width: 165px;
    height: 49px;
    border-style: none;
    background: #D23166;
    border-radius: 5px;
}

.nav__button p {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
}

.nav__button:hover {
    background: #b41e50;
}

.header__banner {
    display: flex;
    margin: 196px 0 0 254px;
}

.banner__left {
    width: 665px;
    height: 364px;
}

.bl__slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.bl__main-slogan {
    margin-top: 6px;
    width: 665px;
    height: 130px;
    font-family: 'Fredoka One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    /* or 69px */
    color: #0F0101;
    opacity: 0.9;
}

.main-slogan__span {
    color: rgba(210, 49, 102, 1);
}

.bl__desc {
    margin: 35px 0 50px 0;
    width: 523px;
    height: 78px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    color: #0F0101;
    opacity: 0.6;
}


/* CONTAINER 1 */

.container__1 {
    color: #000000;
    font-family: 'Hind Madurai', sans-serif;
    width: 100%;
}

.services {
    display: flex;
    max-width: 1117px;
    margin: 100px auto;
    justify-content: space-between;
}

.card {
    width: 250px;
    height: 200px;
    background: #FFFFFF;
    /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03); */
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    text-align: center;
}

.card:hover {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
}

.card__img {
    margin: 30px 0 24.6px;
    height: auto;
    width: auto;
}

.service__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 9px;
}

.service__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    opacity: 0.6;
    margin: 0 26px;
}


/* CONTAINER 2 */

.container__2 {
    width: 100%;
    height: 544.5px;
    background: #F8EDF0;
    display: flex;
    background-image: url("/img/ice-2.png");
    background-repeat: no-repeat;
    background-size: 655px 656.8px;
    background-position-x: 768px;
    background-position-y: -72px;
}

.brown_sugar {
    width: 442px;
    height: 256.71px;
    color: #150101;
    margin: 141px 0 0 252px;
}

.bs__name {
    width: 349px;
    height: 98.27px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
}

.bs__desc {
    width: 442px;
    height: 58.16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    margin: 16.04px 0 35.1px 0;
}

.bs__button {
    width: 165px;
    height: 49.13px;
    background: #D64374;
    border-radius: 5px;
    border-style: none;
}

.bs__button p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
}

.bs__button:hover {
    background: #b41e50;
}


/* CONTAINER 3 */

.container__3 {
    width: 100%;
    height: auto;
}

.product-title {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
    margin-top: 137px;
}

.product__menu ul {
    justify-content: center;
    display: flex;
    margin: 64px auto 50px;
    column-gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.product__menu ul li:hover {
    border-bottom: 2px solid #D64374;
    margin-bottom: -2px;
}

.product__list {
    display: flex;
    align-items: center;
}

.product__img img {
    width: 580px;
    height: 415px;
    border-radius: 10px;
    margin: 0 85px 0 251px;
}

.product__card-name {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.product__card-desc {
    width: 454px;
    height: 67px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    margin: 11px 0 28px;
}

.product__card-price {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 13px;
}

.sale-cost {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    opacity: 0.7;
}

.product__list-2 {
    display: flex;
    margin-bottom: 35px;
}

.product__card-2 {
    text-align: right;
    margin: 121px 84px 0 301px;
}

.product__img-2 img {
    width: 580px;
    height: 415px;
    border-radius: 10px;
    margin-top: 30px;
}

.prod__feedback {
    display: flex;
    margin-bottom: 152px;
}

.prod__feed-left {
    margin: 199px 224px 0 243.05px;
}

.feedback__author {
    display: flex;
}

.author__img {
    height: 58px;
    width: 58px;
    margin-right: 21px;
}

.author__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}

.city-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
}

.feedback__desc {
    display: flex;
    width: 344.8px;
    margin: 46px 0 56px;
}

.feedback__desc p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}

.symbol-1 {
    margin: 0 12.04px 50px 0;
}

.symbol-2 {
    transform: rotate(180deg);
    margin: 50px 0 0 -12px;
}

.avatar {
    width: 253.21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.little__avatar {
    width: 35px;
    height: auto;
}

.main__avatar {
    width: 57.81px;
    height: auto;
    border: 1px solid #D64374;
    border-radius: 50%;
}

.prod__last-img {
    margin-top: 112px;
}


/* Container 4 */

.container__4 {
    width: 100%;
    /* height: 633px; */
    background: #F8EDF0;
    background-image: url(/img/screen.png);
    background-repeat: no-repeat;
    background-size: 305px 627px;
    background-position: 220px 56px;
}

.mob__app {
    margin-left: 660px;
    padding-top: 90px;
}

.mob__app-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
}

.mob__app-desc {
    max-width: 607px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    opacity: 0.7;
    margin: 20px 0 29px;
}

.app__service {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    column-gap: 10px;
}

.app__service img {
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 6px;
}

.app__service p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
}

.mob__app-download a img {
    margin: 60px 0 170px;
    height: 57px;
    width: auto;
    margin-right: 17px;
}


/* Container 5 */

.container__5 {
    width: 100%;
    height: 565px;
    /* background: #FFFFFF; */
}

.form__bar {
    margin: 0 auto;
    padding-top: 150px;
    width: 637px;
    height: 344px;
}

.form__title {
    margin: 0 auto 36px;
    width: 522px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}


/* 
.info__section {
    box-sizing: border-box;
} */

.info__section input {
    padding: 29px 25px;
    width: 303px;
    height: 74px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
}

#tel {
    margin-right: 25px;
    margin-bottom: 37px;
}

#question {
    width: 495px;
    height: 74px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
}

#send_button {
    width: 134px;
    height: 74px;
    background: #D64374;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

#send_button:hover {
    background: #b41e50;
}

footer {
    max-width: 1600px;
    width: 100%;
    height: 381px;
    background: #0A0808;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

footer main {
    display: flex;
    align-items: center;
}

.footer__main {
    width: 210px;
    height: 200px;
    margin-right: 37px;
}

.footer__main_desc {
    width: 207px;
    height: 47px;
    margin: 9px 0 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    opacity: 0.7;
}

.follow-us {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
}

.app__icons-img {
    width: 90px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

footer main {
    margin-left: 245px;
    padding-top: 70px;
}

.footer__links,
.footer__services {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-right: 132px;
}

.footer__links ul li,
.footer__services ul li {
    margin-top: 10px;
    opacity: 0.7;
}

.footer__links ul li:hover,
.footer__services ul li:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 1;
}

.footer__payment p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 13px;
}

#email {
    width: 236px;
    height: 55px;
    background-color: inherit;
    border: 2px solid #D64374;
    border-radius: 5px;
    padding: 20px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
}

#subscribe {
    width: 125px;
    height: 57px;
    background: #D23166;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

#subscribe:hover {
    background: #b41e50;
}

.payment__icon img {
    margin-right: 15px;
}